# BOOTCAMP

## Parte 2 - Pandas

Pandas é uma biblioteca da linguagem Python utilizada para trabalhar com grandes volumes de dados.

Para utilizar esta biblioteca em um projeto, é necessário instalá-la e depois importá-la para o projeto. No Google Colab, a biblioteca Pandas já vem instalada.

In [ ]:
# Importando a biblioteca Pandas para o seu projeto
# Nesse caso, 'pd' é um alias, ou apelido, que será usado para se referir a funções e classes do Pandas

import pandas as pd

### Objetos - Series e DataFrames

`Series` são como colunas em uma planilha de Excel, enquanto que `DataFrames` são como a própria planilha

Series

A sintaxe completa de uma série está representada abaixo

`pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)`

Caso somente um dos parâmetros seja fornecido, entende-se automaticamente que é o primeiro parâmetro, ou seja, os dados propriamente ditos.

In [ ]:
# Criando uma nova serie a partir de uma lista

serie_lista = pd.Series(["a", "b", "c", "d", "e"])
print(serie_lista)

# A primeira coluna representa o índice e a segunda coluna representa os valores correspondentes

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
# Criando uma nova serie a partir de um dicionário

serie_dicionario = pd.Series({"Nome": "Lívia", "Idade": 1, "Cabelo": "Loiro", "Prato Favorito": "Arroz com feijão"})

serie_dicionario

Nome                         Lívia
Idade                            1
Cabelo                       Loiro
Prato Favorito    Arroz com feijão
dtype: object

In [ ]:
# Criando uma nova serie a partir de uma combinação de dicionário e listas

serie_dicionario_listas = pd.Series({"Nomes":["Lívia", "Jessica", "João"], "Idades":[1, 32, 35]})

serie_dicionario_listas

Nomes     [Lívia, Jessica, João]
Idades               [1, 32, 35]
dtype: object

<br>

---

DataFrames

DataFranmes em pandas são estruturas tabulares, com eixos rotulados (linhas e colunas), que podem ser editadas conforme a necessidade, assim como em  uma planilha em Excel.

A sintaxe completa para criação de um DataFrame é:

<br>

`pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)`

In [ ]:
# Criando um novo DataFrame

import pandas as pd

dicionario_df = {"Nome": ["Rinti", "Bóris", "Brinquedo", "Chimia", "Malu", "Leca", "Gema", "Cleo"], "Idade": [5, 4, 10, 3, 6, 13, 1, 10]}

dataframe_1 = pd.DataFrame(dicionario_df)

dataframe_1

        Nome  Idade
0      Rinti      5
1      Bóris      4
2  Brinquedo     10
3     Chimia      3
4       Malu      6
5       Leca     13
6       Gema      1
7       Cleo     10

<br>

---

### Funções básicas

#### Cheat sheet

* **head**: Retorna as 5 primeiras linhas.
* **columns**: Os rótulos de coluna do DataFrame.
* **rename**: Altere os rótulos dos eixos.
* **index**: Obtém os índices (rótulos de linha) do DataFrame.
* **dtypes**: Retorna os tipos de dados presentes no DataFrame.
* **shape**: Retorna uma tupla representando a dimensionalidade do * DataFrame.
* **info**: Imprime um resumo conciso de um DataFrame.
* **values**: Retorne uma representação Numpy do DataFrame.
* **reset_index**: Redefina os índices.
* **select_dtypes**: Retorna um subconjunto das colunas do DataFrame com base nos tipos de coluna.
* **drop**: Remove linhas ou colunas.
* **assign**: Atribue novas colunas a um DataFrame.
* **astype**: Converta um objeto pandas para um tipo especificado.
* **value_counts**: Retorna uma série contendo contagens de linhas exclusivas no DataFrame.

<br>

In [ ]:
# head - Visualizar o começo da tabela
dataframe_1.head()

        Nome  Idade
0      Rinti      5
1      Bóris      4
2  Brinquedo     10
3     Chimia      3
4       Malu      6

In [ ]:
# tail - Visualizar o fim da tabela
dataframe_1.tail()

     Nome  Idade
3  Chimia      3
4    Malu      6
5    Leca     13
6    Gema      1
7    Cleo     10

In [ ]:
# columns - Exibe os rótulos das colunas

dataframe_1.columns

Index(['Nome', 'Idade'], dtype='object')

In [ ]:
# rename - renomear rótulos da tabela

print(dataframe_1.rename(columns={"Nome": "Apelido", "Idade": "Qtos anos"}))

print("_____________________")
print("_____________________")

print(dataframe_1.rename(index={0: "A", 1: "B", 2: "C", 3: "D", 4: "E", 5: "F", 6: "G", 7: "H" }))

     Apelido  Qtos anos
0      Rinti          5
1      Bóris          4
2  Brinquedo         10
3     Chimia          3
4       Malu          6
5       Leca         13
6       Gema          1
7       Cleo         10
_____________________
_____________________
        Nome  Idade
A      Rinti      5
B      Bóris      4
C  Brinquedo     10
D     Chimia      3
E       Malu      6
F       Leca     13
G       Gema      1
H       Cleo     10

In [ ]:
# assign - Criando nova coluna

cor_do_pelo = ["Branco", "Cinza", "Marrom", "Preto", "Dourado", "Marrom", "Amarelo", "Cinza"]

dataframe_1.assign(Cor_do_Pelo = cor_do_pelo)

        Nome  Idade Cor_do_Pelo
0      Rinti      5      Branco
1      Bóris      4       Cinza
2  Brinquedo     10      Marrom
3     Chimia      3       Preto
4       Malu      6     Dourado
5       Leca     13      Marrom
6       Gema      1     Amarelo
7       Cleo     10       Cinza